body {
    margin: 0;
    overflow: hidden;
    height: 200px;
    background: linear-gradient(to top left , #CDDC39, #03A9F4);
    height: 900px;
}
/*Часы*/
.watch {
    width: 300px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}
.time {
    display: inherit;
    justify-content: center;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 50px;
    width: 100%; 
    font-weight: 600;
    margin-bottom: 5px;
}
.data {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-top: 5px;
}
/*Здесь свойства вкладок и меню*/
.menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    margin: 10px;
}
.tab {
    list-style-type: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-family: 'Nanum Gothic', sans-serif;
    color: #fff;
    margin-bottom: 30px;
    padding: 10px 20px;
    border: 2px solid transparent;
    transition-duration: 0.5s;
}
.tab:hover {
    cursor: pointer;
}
/* Меню (При Hover) */
ul {
    padding-left: 0;
}
.tab_1:hover {
    border-bottom: 2px solid #fff;
}
.tab_2:hover {
    border-bottom: 2px solid #fff;
}
.tab_3:hover {
    border-bottom: 2px solid #fff;
}
.tab_4:hover {
    border-bottom: 2px solid #fff;
}
.tab_5:hover {
    border-bottom: 2px solid #fff;
}
